@page "/Recipes/Edit"
@page "/Recipes/Edit/{RecipeId:int}"
@page "/Recipes/Edit/{RecipeId:int}/{Success:bool}"

@inherits EditBase
<h3>@Title</h3>
<div>
    <h5 class="alert-success border-success">@CreatedSuccessfully</h5>
</div>
<EditForm Model="@Model" OnValidSubmit="@Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value="Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <InputText @bind-Value="Model.Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>