@page "/Recipes"

@using Food.Models.Recipes
@inherits GridViewBase
<h3>Recipes</h3>


<button class="btn btn-primary" @onclick="() => GridViewModel.GotoEditPage()">Create</button>

<Grid>
    <GridHeader>
        <th scope="col" @onclick="@(() => GridViewModel.Reorder(nameof(RecipeViewModel.Name)))">Name</th>
        <th scope="col" @onclick="@(() => GridViewModel.Reorder(nameof(RecipeViewModel.Description)))">Description</th>
        <th scope="col">Actions</th>
    </GridHeader>
    <GridBody>
        @foreach (var recipe in this.GridViewModel.Model)
        {
        <tr>
            <td>@recipe.Name</td>
            <td>@recipe.Description</td>
            <td>
                <button class="btn btn-primary" @onclick="() => GridViewModel.GotoEditPage(recipe.Id)">Edit</button>
            </td>
        </tr>
        }
    </GridBody>
</Grid>