@page "/Ingredients"

@using Common.Conversion
@using Food.IService
@using Food.IService.IngredientHandlers.Commands
@using Food.Models.Ingredients
@using Majunga.RazorModal
@inject IServices DomainServices
@inject IConversionService Conversion
@inject ModalService ModalService
<h3>Index</h3>


@code
{
    IngredientViewModel Model = new IngredientViewModel();

    string ModelType = "Create ingredient";

    public void HandleValidSubmit()
    {
        var command = DomainServices.Convert<CreateIngredientCommand>(Model);
        DomainServices.RunCommand(command);
        ModalService.Hide();
    }

    void ToggleModalVisibility(string buttonClicked)
    {
        ModelType = $"{buttonClicked} ingredient";
        ModalService.ToggleVisibility();
    }
}

<button class="btn btn-primary" @onclick="@(e => ToggleModalVisibility("Create"))">Create</button>

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
    <Modal Title="@ModelType">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText class="form-control" placeholder="Enter ingredient name.." @bind-Value="Model.Name" />
    </Modal>
</EditForm>
